@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto+Slab:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../assets/bg-mountain.jpg);
    background-size: cover;
    background-position: center;
    font-family: "Roboto Slab", sans-serif;
}

.login-box{
    background-color: #3333334c; /*#131318;*/
    backdrop-filter: saturate(100%) blur(3px);
    -webkit-backdrop-filter: saturate(100%) blur(3px);
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 7px;
    max-width: 500px;
    min-width: 300px;
    font-size: 1.03rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.036);
}
.login-logo{
    background-image: url(../assets/white-logo.png);
    width: 80px;
    height:80px;
    background-size: cover;
    margin-bottom: 10px;
    opacity: 0.65;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.101);
    border-radius: 70px;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    cursor: pointer;
}
.login-logo:hover {
    opacity: 0.85;
    transform: translateY(-1px);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.197);
}


.input-container {
    position: relative;
    width: 100%;
}

.input-container i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #202020;
}

.login-id, .login-pwd {
    padding: 10px 10px 10px 40px; /* Adjust padding for icon space */
    border-radius: 7px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #cccccc20; 
    background-color: rgba(52, 51, 51, 0.2);
    font-family: "Roboto Slab";
    font-weight: 600;
    font-size: 1.03rem;
    color: rgb(242, 242, 242);
    transition: background-color 0.2s ease-in-out;
    
}
.login-id::placeholder, .login-pwd::placeholder {
    color: rgba(241, 241, 241, 0.444)
}
.login-id:hover, .login-pwd:hover {
    cursor:text;
    background-color: rgba(84, 83, 83, 0.197);
    box-shadow: 0 3px 7px rgba(18, 18, 18, 0.159);

}

#error-msg {
    color: rgb(251, 153, 72);
    font-weight: 600;
    display: none;
    text-align: center;
}

.login-btn{
    margin-top: 10px;
    padding: 7px 40px;
    border-radius: 50px;
    font-size: 1.05rem;
    border: none;
    background-color: rgb(56, 121, 91);
    color: White;
    opacity:0.6;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.068);
}

.login-btn:hover {
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.197);
}

.login-recover {
    position: absolute;
    bottom: 0;
    padding-bottom: 25px;
    color: white;
    opacity: 0.5;
    text-decoration: none;
    font-size: 14px;
}
.login-recover:hover {
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.197);
}

@media (max-width: 864px) {
    body {
        background-image: url(../assets/login-phone.jpg);
    }
}